<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">

<head>
  <title>{% block title %}{% endblock %}</title>


  <!-- Latest compiled and minified jquery (not sure if/when I'll use it, but meh) -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

  <!-- markdown-browser-0.6.0-beta1 from https://github.com/evilstreak/markdown-js -->
  <script src="/static/markdown.min.js"></script>
</head>

<body>
  <div class = "container">
  <div class = "row">
  <div class = "span12">

  {% block header %}
  <h1>
      {% block subtitle %}{% endblock %}
  </h1>
  {% endblock %}

  {% block content %}{% endblock %}

  {% block footer %}{% endblock %}

  </div>
  </div>
  </div>

</body>
</html>
