<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">

<head>
  <title>{% block title %}{% endblock %}</title>


  <!-- Latest compiled and minified jquery (not sure if/when I'll use it, but meh) -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

  <!-- markdown-browser-0.6.0-beta1 from https://github.com/evilstreak/markdown-js -->
  <script src="/static/markdown.min.js"></script>
</head>

<body>
  <div class = "container">
  <div class = "row">
  <div class = "span12">

  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">d3matt.com</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {% for title,link in LINKS %}
          <li {% if title == PAGE %}class="active"{% endif %}><a href="{{link}}">{{ title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </nav>

  {% block header %}
  <h1>
      {% block subtitle %}{% endblock %}
  </h1>
  {% endblock %}

  {% block content %}{% endblock %}

  {% block footer %}{% endblock %}

  </div>
  </div>
  </div>

</body>
</html>
